<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <link href="css/app.css" rel="stylesheet"/> 
    <link href="css/mui.min.css" rel="stylesheet"/>
    <link href="css/mui.indexedlist.css" rel="stylesheet" />
    <script src="js/mui.min.js"></script>
    <script src="js/mui.indexedlist.js"></script>
    <style>
		html,
		body {
			height: 100%;
			overflow: hidden;
		}
		.mui-bar {
			-webkit-box-shadow: none;
			box-shadow: none;
		}
	</style>
</head>
<body>
    <header id="header" class="mui-bar mui-bar-nav mui-headerExt">
		<a id="icon-location" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 id="title" class="mui-title">通讯录</h1>
	</header>
	<div class="mui-content">
		<div id='list' class="mui-indexed-list">
			<div class="mui-indexed-list-search mui-input-row mui-search">
				<input type="search" class="mui-input-clear mui-indexed-list-search-input" placeholder="搜索联系人">
			</div>
			<div class="mui-indexed-list-bar">
				<a>A</a>
				<a>B</a>
				<a>C</a>
				<a>D</a>
				<a>E</a>
				<a>F</a>
				<a>G</a>
				<a>H</a>
				<a>I</a>
				<a>J</a>
				<a>K</a>
				<a>L</a>
				<a>M</a>
				<a>N</a>
				<a>O</a>
				<a>P</a>
				<a>Q</a>
				<a>R</a>
				<a>S</a>
				<a>T</a>
				<a>U</a>
				<a>V</a>
				<a>W</a>
				<a>X</a>
				<a>Y</a>
				<a>Z</a>
			</div>
			<div class="mui-indexed-list-alert"></div>
			<div class="mui-indexed-list-inner">
				<ul id="userlist" class="mui-table-view">
                    <script id='msg-template' type="text/template">
                        <% for(var key in objlist) { %>
					    <li data-group="<%=(key)%>" class="mui-table-view-divider mui-indexed-list-group"><%=(key)%></li>
						<% for(var index in objlist[key]) { %>
						<li class="mui-table-view-cell mui-media mui-indexed-list-item" data-value="<%=(objlist[key][index].UserName)%>" data-tags="<%=(objlist[key][index].UserName)%>">
							<a href="javascript:;">
								<img class="mui-media-object mui-pull-left" onerror='javascript:src="images/logo.png"' src="<%=(objlist[key][index].TLM_userimg)%>">
								<div class="mui-media-body">
									<%=(objlist[key][index].Name)%>
								</div>
							</a>
						</li>
						<% }} %>
                    </script>
				</ul>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="js/jquery-1.10.2.js" ></script>
	<script type="text/javascript" src="js/jquery.signalR-2.2.0.js" ></script>
	<script type="text/javascript" src="js/arttmpl.js"></script>
	<script src="http://192.168.15.177:8080/signalr/hubs"></script>
	<script type="text/javascript" charset="utf-8">
		mui.init();
		mui.ready(function() {
			var header = document.querySelector('header.mui-bar');
			var list = document.getElementById('list');
			var userlist = document.getElementById('userlist');
			//calc height
			list.style.height = (document.body.offsetHeight - header.offsetHeight) + 'px';
			//create
			window.indexedList = new mui.IndexedList(list);

			//联系人列表数据
			var objlist = [];
			
			//手机端获取用户列表
			mui.ajax({
				type: 'get',
				url: 'http://localhost:61725/api/user/getlist',
				datatype: 'json',
				async: true,
				success: function(data){
					var objlist = data;
					userlist.innerHTML = template('msg-template', {
						"objlist": objlist
					});	
				}
			})
			
			//用户列表按钮事
			mui("ul.mui-table-view").on("tap", "li.mui-table-view-cell", function(){
				var _name = this.querySelector("div.mui-media-body").innerHTML;
				mui.openWindow({
					id: "content",
					url: "im-chat.html",
					extras: {
						name: _name
					},
					show: {
						aniShow:'pop-in'//参考官方的效果
					},
					waiting: {
						autoShow: false
					}
				});
			})
		});
	</script>
</body>
</html>