<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>条件渲染</title>
    <script src="../../vue.js"></script>
</head>
<body>
    <!-- Handlebars 模板 -->
    {{#if ok}}
    <h1>Yes</h1>
    {{/if}}

    <h1 v-if="ok">Yes</h1>

    <h1 v-if="ok">Yes</h1>
    <h1 v-else>No</h1>

    <template v-if="ok">
        <h1>Title</h1>
        <p>Paragraph 1</p>
        <p>Paragraph 2</p>
    </template>

    <div v-if="Math.random() > 0.5">
        Sorry
    </div>
    <div v-else>
        Not sorry
    </div>
</body>
</html>